<body class="bg-warning">

<div class="container bg-dark">

  <h3 class="text-center text-uppercase text-warning">Albums Component</h3>

  <!--BOOTSTRAP NAVBAR-->

  <nav class="navbar navbar-expand-lg navbar-light bg-warning">

    <img class="navbar-brand" src="../../../assets/img/Boston_Strong_Concert-May_30,_2013.jpg" height="96" width="128"/>

    <a class="navbar-brand bg-dark text-warning" href="#">Albums</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link bg-dark text-warning" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-dark text-warning" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle bg-dark text-warning" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item bg-warning" href="#">Action</a>
            <a class="dropdown-item bg-warning" href="#">Another action</a>
            <div class="dropdown-divider bg-dark "></div>
            <a class="dropdown-item bg-warning" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled bg-dark text-warning" href="#">About</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 text-info" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning bg-dark text-warning my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

<!--END OF BOOTSTRAP NAVBAR-->

<!--  INPUT FORM-->

  <div class="card card-body mt-3 bg-dark">

    <form #newAlbumForm="ngForm" (ngSubmit)="onSubmit(newAlbumForm)">

      <div class="form-group bg-dark text-warning">

        <label>Album Title</label>

        <input

          type="text"

          [(ngModel)]="newAlbum.title"

          name="title"

          class="form-control text-info"

          [ngClass]="{'is-invalid': newAlbumTitle.errors && newAlbumTitle.touched}"

          #newAlbumTitle="ngModel"

          required

          minlength="2"

        >

          <div [hidden]="!newAlbumTitle.errors?.required" class="invalid-feedback">
            Title Required
          </div>

          <div [hidden]="!newAlbumTitle.errors?.minlength" class="invalid-feedback">
            Must be at least 2 characters
          </div>

        <label>Artist</label>

        <input

          type="text"

          [(ngModel)]="newAlbum.artist"

          name="artist"

          class="form-control text-info"

          [ngClass]="{'is-invalid': newAlbumArtist.errors && newAlbumArtist.touched}"

          #newAlbumArtist="ngModel"

          required

          minlength="2"

          >

            <div [hidden]="!newAlbumArtist.errors?.required" class="invalid-feedback">
              Title Required
            </div>

            <div [hidden]="!newAlbumArtist.errors?.minlength" class="invalid-feedback">
              Must be at least 2 characters
            </div>

        <label>Songs</label>

        <input type="text" [(ngModel)]="newAlbum.songs" name="songs" class="form-control text-info">

        <label>Favorite</label>

        <input type="text" [(ngModel)]="newAlbum.favorite" name="favorite" class="form-control text-info">

        <label>Year</label>

        <input

          type="number"

          [(ngModel)]="newAlbum.year"

          name="year"

          class="form-control text-info"

          [ngClass]="{'is-invalid': newAlbumYear.errors && newAlbumYear.touched}"

          #newAlbumYear="ngModel"

          required

          minlength="4"

        >

          <div [hidden]="!newAlbumYear.errors?.required" class="invalid-feedback">
            Title Required
          </div>

          <div [hidden]="!newAlbumYear.errors?.minlength" class="invalid-feedback">
            Must be at least 2 characters
          </div>

        <label>Genre</label>

        <input type="text" [(ngModel)]="newAlbum.genre" name="genre" class="form-control text-info">

        <label>Units</label>

        <input type="number" [(ngModel)]="newAlbum.units" name="units" class="form-control text-info">

        <label>Cover</label>

        <input type="text" [(ngModel)]="newAlbum.cover" name="cover" class="form-control text-info">

        <label>Link</label>

        <input

          type="number"

          [(ngModel)]="newAlbum.link"

          name="link"

          class="form-control text-info"

          [ngClass]="{'is-invalid': newAlbumLink.errors && newAlbumLink.touched}"

          #newAlbumLink="ngModel"

          required

          minlength="10"

        >

        <div [hidden]="!newAlbumLink.errors?.required" class="invalid-feedback">
          Link is Required
        </div>

        <div [hidden]="!newAlbumLink.errors?.minlength" class="invalid-feedback">
          Must be at least 2 characters
        </div>



      </div>

      <button

        [disabled]="!newAlbumForm.form.valid"

        class="btn btn-warning text-dark">

        Add an Album

      </button>

<!--      <button (click)="addNewAlbum()" class="btn btn-warning text-dark">Add an Album</button>-->

    </form>

  </div>

<!--  END OF INPUT FORM-->

<!--  NEW CARD LAYOUT-->

  <ul class="list-unstyled">

  <li class="card card-body mb-3 bg-dark text-warning" *ngFor="let album of albums">

    <div class="row">

      <div class="col-6">

        <div class="row">

          <div class="col-12">

            <img [src]="album.cover" alt="" class="img-fluid">
            <h5>Album Title:</h5>

            <ul class="list-group">

              <li class="text-uppercase list-group-item text-info" [ngStyle]="currentStyle">{{album.title}}</li>

            </ul>

          </div>

        </div>

        <div class="row">

          <div class="col-8">

            <h5>Artist:</h5>

            <ul class="list-group">

              <li class="list-group-item text-info">{{album.artist}}</li>

            </ul>

          </div>

          <div class="col-4">

            <h6 [ngStyle]="currentStyle">

              <br>

              <button (click)="toggleInfo(album)" class="btn btn-outline-warning btn-sm ml-3 text-warning">

                <i [ngClass]="album.hide ? 'fa fa-minus' : 'fa fa-plus'"></i>

              </button>

            </h6>

          </div>

        </div>

        <div class="row">

          <div *ngIf="album.hide" class="col-12" >

            <h5>Year:</h5>

            <ul class="list-group">

              <li class="list-group-item text-info">{{album.year}}</li>

            </ul>

          </div>

          <div *ngIf="album.hide" class="col-12">

            <h5>Genre:</h5>

            <ul class="list-group">

              <li class="list-group-item text-info">{{album.genre}}</li>

            </ul>

          </div>

          <div *ngIf="album.hide" class="col-12">

            <h5>Units:</h5>

            <ul class="list-group">

              <li class="list-group-item text-info">{{album.units}}</li>

            </ul>

          </div>

        </div>

      </div>

      <div *ngIf="album.hide" class="col-6">

        <h5>Songs:</h5>

        <ul class="list-group" *ngFor="let song of album.songs">

          <li class="list-group-item text-info">{{song}}</li>

        </ul>
        <br>

        <div class="row">

          <div *ngIf="album.hide" class="col-12">

            <h5>Favorite Song:</h5>

            <ul class="list-group">

              <li class="list-group-item text-info">{{album.favorite}}</li>

            </ul>

          </div>

        </div>

      </div>

    </div>

  </li>

</ul>

  <!--  END OF NEW CARD LAYOUT-->

</div>
</body>
